.food_drink_section_inside {
  text-align: center;
  padding-top: 45px;
  padding-bottom: 40px;
}

.carrousel_item_small_textes {
  text-align: left;
  padding-top: 14px;
}

.padding_div_sm {
  padding: 8px 30px;
}

.square {
  display: grid;
  grid-gap: 5px;
}

.custom_img_div {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  margin: auto;
  aspect-ratio: 1;
}

.carrousel_item_shift {
  width: 25%;
  float: left;
}

.carrousel_item_shift_big {
  width: 37%;
  float: left;
  padding: 8px 30px;
}

.carrousel_item_big_img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  margin: auto;
  aspect-ratio: 1;
}

.rectangle_div {
  height: 100%;
  aspect-ratio: 2;
} 

.mi_rectangle_div {
  height: 100%;
  aspect-ratio: 1.5;
} 


.carrousel_shift {
  overflow: scroll;
  display: -webkit-inline-box;
  display: -webkit-box;
}

.more_line {
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 40px;
  display: -webkit-box;
  display: flex;
}

.line {
  height: 1px;
  width: 100%;
  background: #818684;
  position: relative;
  top: 15px;
}

.more_div_right {
  margin-left: 20px;
  font-family: "Canela-Light-Trial";
  text-transform: uppercase;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  cursor: pointer;
}

.icon_arrow_right {
  width: 14px;
  height: 7px;
  background: url(../images/right_arrow.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 10px;
}