img.logo_footer {
  width: 153.2px;
}
.footer {
  margin-top: 70px;
  border-top: 2px solid #F5F5F5;
}
p.p_footer {
  font-family: "CanelaText-Regular-Trial";
  max-width: 400px;
  margin: auto;
  padding-top: 16px;
  padding-bottom: 58px;
  padding-left: 20px;
  padding-right: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16.67px;
  line-height: 32px;
  text-align: center;
  color: #000000;
}

.grey_background {
  background-color: #F5F5F5;
}

.social_media {
  padding-bottom: 30px;
}

.social_media a {
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Canela-Light-Trial";
  font-style: normal;
  font-weight: 300;
  font-size: 16.67px;
  line-height: 28px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #000000;
}

.links {
  padding: 16px 50px;
}

.links a {
  padding-right: 36px;
  font-family: "CanelaText-Regular-Trial";
  font-style: normal;
  font-weight: 400;
  font-size: 16.67px;
  line-height: 32px;
  color: #000000;
}

a.link_sm {
  font-style: normal;
  font-weight: 400;
  font-size: 13.89px;
  line-height: 20px;
  color: #000000;
}

.padding_div {
  padding-top: 50px;
  padding-bottom: 10px;
}

.copyright_p {
  font-family: "CanelaText-Regular-Trial";
  padding-top: 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 11.57px;
  line-height: 18px;
  text-transform: uppercase;
  color: #818684;
  margin: 0;
}

.inside_col.links_bottom {
  padding-top: 95px;
}

.inside_col.text-center.grey_background {
  padding-top: 45px;
}