.photo_of_day {
  width: 100%;
  height: 550px;
  background: url(../images/pod.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.podp_left_inside {
  padding: 50px;
}

span.by_pod {
  font-family: "Canela-Light-Trial";
  font-style: normal;
  font-weight: 300;
  font-size: 13.89px;
  line-height: 20px;
  color: #414A48;
}

p.author_pod_p {
  font-family: "Canela-Regular-Trial";
  margin-top: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #101828;
}

span.img_auth {
  width: 32px;
  height: 32px;
  background: url(../images/profile_user.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  position: relative;
  top: 8px;
  margin-left: 5px;
  margin-right: 4px;
}

.btn_submit_div {
  padding-top: 35px;
  padding-bottom: 30px;
}

button.btn_submit {
  background: none;
  border: 1px solid;
  border-radius: 30px;
  padding: 8px 17px;
  font-family: "Canela-Medium-Trial";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}

.podp_podcasts_space {
  height: 2px;
  width: 100%;
  background: black;
}

.inside_img {
  width: 100%;
  height: 120px;
  background: url(../images/podcast.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.inside_textes_div {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

h5.header_5_podcast {
  margin: 0;
  font-family: "Canela-Regular-Trial";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;  
  color: #1F2322;
}

.podp_podcasts_item {
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;
}

p.paragraphe_podcast {
  margin: 0;
  font-family: "CanelaText-Regular-Trial";
  padding-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 13.89px;
  line-height: 20px;
  color: #646867;
}

span.author_podcast_by {
  color: #414A48;
  font-family: "Canela-Light-Trial";
  font-style: normal;
  font-weight: 300;
  font-size: 13.89px;
  line-height: 20px;
  color: #414A48;
}

span.author_podcast_by.span_name {
  padding-left: 7px;
  font-family: "Canela-Medium-Trial";
  font-style: normal;
  font-weight: 500;
  font-size: 16.67px;
  line-height: 24px;
  color: #000000;
}

.inside_img_texte {
  padding: 2px 5px;
  background: #ffffffcc;
  position: absolute;
  right: 0px;
  bottom: 0px;
  font-family: "Canela-Regular-Trial";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}

.grey_about_div {
  padding: 20px;
  text-align: left;
  margin-top: 35px;
}

h5.header_5_about {
  margin: 0;
  font-family: "Canela-Light-Trial";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  color: #000000;
}

p.p_about {
  font-family: "Canela-Medium-Trial";
  margin-bottom: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #1DAC68;
}

.reload_span {
  width: 27px;
  height: 28px;
  background: url(../images/reload.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin-left: 7px;
  position: relative;
  top: 2px;
}