.main_article_h1 {
  font-family: "Canela-Bold-Trial";
  font-size: 22px;
  padding-left: 10px;
  padding-right: 10px;
  width: 80%;
  margin: auto;
}

img.logo_main {
  width: 267px;
  height: 170px;
}

.logo_div {
  position: absolute;
  left: 0px;
  right: 0px;
  text-align: center;
  top: -75px;
}

.main_article, .others_articles {
  padding: 10px;
}

.inside_left {
  padding: 10px;
  padding-left: 70px;
  padding-right: 70px;
}

.middle_card_first_section {
  padding-right: 40px;
  padding-left: 30px;
  position: relative;
  top: -50px;
}

.section_first_end {
  padding-right: 35px;
  padding-left: 35px;
  padding-top: 110px;
}

.others_articles_right {
  padding-left: 40px;
  padding-right: 30px;
}

.witdh_80 {
  width: 80%;
  margin: auto;
}

.fixed_line {
  width: 100%;
  position: fixed;
  height: 100vh;
  margin: auto;
  max-width: 1800px;
  top: 0px;
}

.line_left {
  min-height: 100vh;
  height: 100%;
  width: 25%;
  position: absolute;
  border-right: 2px solid #F5F5F5;
}

.line_middle {
  min-height: 100vh;
  height: 100%;
  width: 50.1%;
  position: absolute;
  border-right: 2px solid #F5F5F5;
}


.line_right {
  min-height: 100vh;
  height: 100%;
  width: 74.6%;
  position: absolute;
  border-right: 2px solid #F5F5F5;
}

img.card_img_a_u_img {
  width: 100%;
}

h4.header_4 {
  margin: 0;
  font-family: "CanelaText-Light-Trial";
  font-style: normal;
  font-weight: 300;
  font-size: 34.56px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.card_article {
  padding-top: 90px;
  padding-left: 25px;
  padding-right: 25px;
}

.card_img_a_u_textes {
  text-align: left;
  padding-left: 12px;
  padding-right: 12px;
}

.card_img_a_u {
  padding-left: 12px;
  padding-right: 12px;
}

.separate_line {
  width: 100%;
  height: 1px;
  background: black;
  margin-bottom: 20px;
}

h2.card_a_u_header_2 {
  margin: 0;
  font-family: "CanelaText-Medium-Trial";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #1F2322;
}

p.card_a_u_p {
  font-family: "CanelaText-Regular-Trial";
  margin: 0;
  padding-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 13.89px;
  line-height: 20px;
  color: #646867;
}

h5.header_5_big {
  text-align: left;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0;
  font-family: "Canela-Regular-Trial";
  font-style: normal;
  font-weight: 300;
  font-size: 76px;
  line-height: 44px;
  color: #000000;
  margin-top: 40px;
  margin-bottom: 5px;
}
span.month_span {
  font-family: "Canela-Light-Trial";
  position: relative;
  top: -45px;
  font-style: normal;
  font-weight: 300;
  font-size: 16.67px;
  line-height: 28px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #000000;
  right: 5px;
}

.card_article_unit {
  padding-bottom: 15px;
  padding-top: 10px;
}

.card_green {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card_green_inside {
  border: 2px solid #1DAC68;
}

.img_spotlight {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
}

.card_green_img {
  padding: 30px;
  padding-top: 10px;
}

.discover_btn_div {
  padding: 30px 0px;
  text-align: left;
  padding-top: 50px;
}

button.discover_btn {
  font-family: "Canela-Medium-Trial";
  background: none;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}

.line_under {
  width: 30px;
  height: 2px;
  background: #1DAC68;
}

.separate_line_end {
  margin-top: 10px;
}

.newsletter_card {
  padding: 20px 20px;
}

.newsletter_card_inside {
  padding: 28px 52px;
  background: #F5F5F5;
}

.newsletter_card_content {
  text-align: left;
}

p.newsletter_card_p {
  margin: 0px;
  font-family: "Canela-Medium-Trial";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #1DAC68;
}

input.email_input {
  border: none;
  border-bottom: 1px solid black;
  background: none;
  padding-bottom: 8px;
  font-family: "CanelaText-Medium-Trial";
  outline: 0;
  width: 68%;
  font-style: normal;
  font-weight: 400;
  font-size: 13.89px;
  line-height: 20px;
  color: #929997;
}

.newsletter_card_content_form {
  padding-top: 18px;
}

.btn_submit.sm_btn {
  padding: 5px 10px;
  font-family: "CanelaText-Light-Trial";
  margin-left: 40px;
  font-style: normal;
  font-weight: 300;
  font-size: 13.89px;
  line-height: 20px;
  color: #000000;
}