.section_1 {
  max-width: 1300px;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

img.img_pic {
  width: 100%;
}

.main_article_p {
  font-family: "CanelaText-Light-Trial";
  font-size: 13px;
  padding-left: 2px;
  padding-right: 2px;
  text-transform: uppercase;
}

.main_article_h1 {
  font-family: "Canela-Bold-Trial";
  font-size: 22px;
  padding-left: 10px;
  padding-right: 10px;
  width: 80%;
  margin: auto;
}


.space_round {
  background: #1DAC68;
  height: 6px;
  width: 6px;
  border-radius: 100px;
  display: inline-block;
  position: relative;
  top: -2px;
  margin-left: 5px;
  margin-right: 5px;
}

img.logo_main {
  width: 190px;
}

.logo_div {
  position: absolute;
  left: 0px;
  right: 0px;
  text-align: center;
  top: -75px;
}

.main_article, .others_articles {
  padding: 10px;
}

.main_article_h3 {
  font-family: "CanelaText-Light-Trial";
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 17px;
}

.others_articles_left {
  padding-right: 10px;
  position: relative;
  top: -20px;
}

.others_articles_right {
  padding-left: 10px;
}

.witdh_80 {
  width: 80%;
  margin: auto;
}

.left_padding {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

img.articles_left_img {
  width: 100%;
}

.articles_left_div_textes p.main_article_p.left_padding {
  margin: 0px;
}

.articles_left_div_textes h3.main_article_h3 {
  margin: 0px;
  padding-top: 10px;
}

.article_d.small {
  width: 95%;
  margin: auto;
}

.article_d, .articles_left {
  padding-bottom: 15px;
}

.separate_lines_main {
  max-width: 1300px;
  margin: auto;
  position: relative;
}

.separate_lines_main_inside {
  width: 100%;
  position: fixed;
  height: 100vh;
  margin: auto;
  max-width: 1300px;
  top: 0px;
}

.separate_lines_div_left {
  min-height: 100vh;
  height: 100%;
  width: 25%;
  position: absolute;
  border-right: 2px solid #F5F5F5;
}

.separate_lines_div_middle {
  min-height: 100vh;
  height: 100%;
  width: 50.2%;
  position: absolute;
  border-right: 2px solid #F5F5F5;
}


.separate_lines_div_right {
  min-height: 100vh;
  height: 100%;
  width: 74.6%;
  position: absolute;
  border-right: 2px solid #F5F5F5;
}

img.card_img_a_u_img {
  width: 100%;
}

h4.header_4 {
  margin: 0;
  font-family: "CanelaText-Light-Trial";
  font-size: 20px;
  text-transform: uppercase;
}

.card_article {
  padding-top: 90px;
  padding-left: 25px;
  padding-right: 25px;
}

.card_img_a_u_textes {
  text-align: left;
  padding-left: 12px;
  padding-right: 12px;
}

.card_img_a_u {
  padding-left: 12px;
  padding-right: 12px;
}

.separate_line {
  width: 100%;
  height: 1px;
  background: black;
  margin-bottom: 20px;
}

h2.card_a_u_header_2 {
  margin: 0;
  font-family: "CanelaText-Light-Trial";
  color: #000;
}

p.card_a_u_p {
  font-size: 13px;
  font-family: "CanelaText-Light-Trial";
  color: #000;
  margin: 0;
  padding-top: 10px;
}

.card_img_a_u_textes p.main_article_p {
  margin: 0;
  padding-bottom: 10px;
}

h5.header_5_big {
  text-align: left;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 50px;
  margin: 0;
  font-family: "Canela-Bold-Trial";
}
span.month_span {
  font-size: 16px;
  font-family: "CanelaText-Light-Trial";
  position: relative;
  top: -20px;
}

.card_article_unit {
  padding-bottom: 15px;
  padding-top: 10px;
}

.card_green {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card_green_inside {
  border: 2px solid #1DAC68;
}

h4.header_green_h4 {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: "CanelaText-Light-Trial";
  text-transform: uppercase;
  font-size: 20px;
}

span.slash {
  color: #1DAC68;
  margin-left: 10px;
}

h4.header_green_h4_g {
  color: #1DAC68;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Canela-Bold-Trial";
  padding-left: 15px;
  padding-right: 15px;
  font-size: 25px;
  max-width: 80%;
  margin: auto;
}

.card_green_img {
  padding: 30px;
  padding-top: 10px;
}