.main_article_h1 {
  font-family: "Canela-Bold-Trial";
  font-size: 22px;
  padding-left: 10px;
  padding-right: 10px;
  width: 80%;
  margin: auto;
}

img.logo_main {
  width: 190px;
}

.logo_div {
  position: absolute;
  left: 0px;
  right: 0px;
  text-align: center;
  top: -75px;
}

.main_article, .others_articles {
  padding: 10px;
}

.inside_left {
  padding: 10px;
  padding-left: 70px;
  padding-right: 70px;
}

.middle_card_first_section {
  padding-right: 40px;
  padding-left: 30px;
  position: relative;
  top: -50px;
}

.section_first_end {
  padding-right: 35px;
  padding-left: 35px;
}

.others_articles_right {
  padding-left: 40px;
  padding-right: 30px;
}

.witdh_80 {
  width: 80%;
  margin: auto;
}

.articles_left {
  padding-bottom: 15px;
}

.separate_lines_main {
  max-width: 1800px;
  margin: auto;
  position: relative;
}

.separate_lines_main_inside {
  width: 100%;
  position: fixed;
  height: 100vh;
  margin: auto;
  max-width: 1800px;
  top: 0px;
}

.separate_lines_div_left {
  min-height: 100vh;
  height: 100%;
  width: 25%;
  position: absolute;
  border-right: 2px solid #F5F5F5;
}

.separate_lines_div_middle {
  min-height: 100vh;
  height: 100%;
  width: 50.1%;
  position: absolute;
  border-right: 2px solid #F5F5F5;
}


.separate_lines_div_right {
  min-height: 100vh;
  height: 100%;
  width: 74.6%;
  position: absolute;
  border-right: 2px solid #F5F5F5;
}

img.card_img_a_u_img {
  width: 100%;
}

h4.header_4 {
  margin: 0;
  font-family: "CanelaText-Light-Trial";
  font-size: 20px;
  text-transform: uppercase;
}

.card_article {
  padding-top: 90px;
  padding-left: 25px;
  padding-right: 25px;
}

.card_img_a_u_textes {
  text-align: left;
  padding-left: 12px;
  padding-right: 12px;
}

.card_img_a_u {
  padding-left: 12px;
  padding-right: 12px;
}

.separate_line {
  width: 100%;
  height: 1px;
  background: black;
  margin-bottom: 20px;
}

h2.card_a_u_header_2 {
  margin: 0;
  font-family: "CanelaText-Light-Trial";
  color: #000;
}

p.card_a_u_p {
  font-size: 13px;
  font-family: "CanelaText-Light-Trial";
  color: #000;
  margin: 0;
  padding-top: 10px;
}

h5.header_5_big {
  text-align: left;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 50px;
  margin: 0;
  font-family: "Canela-Bold-Trial";
}
span.month_span {
  font-size: 16px;
  font-family: "CanelaText-Light-Trial";
  position: relative;
  top: -20px;
}

.card_article_unit {
  padding-bottom: 15px;
  padding-top: 10px;
}

.card_green {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card_green_inside {
  border: 2px solid #1DAC68;
}

.card_green_img {
  padding: 30px;
  padding-top: 10px;
}

.discover_btn_div {
  padding: 30px 0px;
  text-align: left;
  padding-top: 50px;
}

button.discover_btn {
  font-family: "Canela-Bold-Trial";
  color: #000;
  font-size: 20px;
  background: none;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.line_under {
  width: 30px;
  height: 2px;
  background: #1DAC68;
}

.separate_line_end {
  margin-top: 10px;
}

.newsletter_card {
  padding: 20px 20px;
}

.icon_mail {
  max-width: 45px;
}

.newsletter_card_inside {
  padding: 20px;
  background: #F5F5F5;
}

.newsletter_card_content {
  text-align: left;
}

p.newsletter_card_p {
  margin: 0px;
  color: #1DAC68;
  font-family: "Canela-Bold-Trial";
}

input.email_input {
  border: none;
  border-bottom: 1px solid black;
  background: none;
  padding-bottom: 10px;
  font-size: 18px;
  font-family: "CanelaText-Light-Trial";
  outline: 0;
}

.newsletter_card_content_form {
  padding-top: 18px;
}

button.submit_btn {
  border: 1px solid #DADBDB;
  background: none;
  border-radius: 100%;
  height: 48px;
  width: 48px;
  margin-left: 30px;
}

.width_60px {
  width: 60px;
  float: left;
}

.width_100p_60px {
  width: calc(100% - 60px);
  float: left;
}