.big_header {
  font-family: "Canela-Medium-Trial";
  padding-left: 24px;
  padding-right: 24px;
  margin: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 41.47px;
  line-height: 48px;
  text-align: center;
  color: #1F2322;
}

.black {
  color: black;
}

.green {
  color: #1DAC68;
}

.padding_top_div {
  padding-top: 24px;
}

.width_max {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 380px;
}

.category_p {
  font-family: "CanelaText-Light-Trial";
  margin: 0px;
  padding: 0px;
  padding-bottom: 7px;
  font-style: normal;
  font-weight: 300;
  font-size: 13.89px;
  line-height: 20px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #414A48;
}

.normal_header {
  font-family: "Canela-Regular-Trial";
  margin: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
}

div .sm_padding_top_div {
  padding-top: 10px;
}

.sm_padding_left_div {
  padding-left: 10px;
}

.width_95 {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

div .m_padding_bottom_div {
  padding-bottom: 40px;
}

.margin_m {
  margin-bottom: 20px;
}

.section {
  max-width: 1800px;
  margin: auto;
  text-align: center;
  padding: 10px;
  position: relative;
}

.padding_top_first_section {
  padding-top: 78px;
}

.xl_padding_lr {
  padding-left: 80px;
  padding-right: 80px;
}

.s_padding_lr {
  padding-left: 25px;
  padding-right: 25px;
}

.l_padding_top_div {
  padding-top: 70px;
}

.m_header_slash {
  margin: 0;
  padding: 0px;
  font-style: normal;
  font-weight: 300;
  font-size: 28.56px;
  line-height: 44px;  
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  font-family: "Canela-Light-Trial";
}

span.slash {
  color: #1DAC68;
  margin-left: 3px;
}

.s_padding_tb {
  padding-top: 25px;
  padding-bottom: 25px;
}

.s_padding_bottom {
  padding-bottom: 15px;
}

.none_padding {
  padding: 0px;
}

.none_padding_top {
  padding-top: 0px;
}

.xl_padding_top {
  padding-top: 125px;
}