.big_header {
  font-family: "Canela-Medium-Trial";
  padding-left: 24px;
  padding-right: 24px;
  margin: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 41.47px;
  line-height: 48px;
  text-align: center;
  color: #1F2322;
  padding-top: 4px;
}

.black {
  color: black;
}

.green {
  color: #1DAC68;
}

.padding_top_div {
  padding-top: 24px;
}

.width_max {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 380px;
}

.category_p {
  font-family: "CanelaText-Light-Trial";
  margin: 0px;
  padding: 0px;
  padding-bottom: 8px;
  font-style: normal;
  font-weight: 300;
  font-size: 13.89px;
  line-height: 20px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #414A48;
}

.normal_header {
  font-family: "Canela-Regular-Trial";
  margin: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
}

div .sm_padding_top_div {
  padding-top: 24px;
}

.sm_padding_left_div {
  padding-left: 10px;
}

.padding_top_40 {
  padding-top: 40px;
}

.background_grey {
  background: #FAFAFA;
}

.padding_section_tttdo {
  align-items: center;
  padding: 60px 0px;
  gap: 24px;
}

.padding_top_10 {
  padding-top: 10px;
}

.width_95 {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

div .m_padding_bottom_div {
  padding-bottom: 48px;
}

div .padding_bottom_36 {
  padding-bottom: 36px;
}

.inside_wts {
  padding: 0px 20px;
}

.margin_m {
  margin-bottom: 20px;
}

.section {
  max-width: 1800px;
  margin: auto;
  text-align: center;
  padding: 10px;
  position: relative;
}

.padding_top_first_section {
  padding-top: 78px;
}

.xl_padding_lr {
  padding-left: 80px;
  padding-right: 80px;
}

.left_padding {
  padding-left: 28px;
}

.right_padding {
  padding-right: 28px;
}

.max_height_300 {
  max-height: 300px;
  margin: auto;
}

.max_width_300 {
  max-width: 300px;
  margin: auto;
}

.padding_left_right {
  padding-left: 36px;
  padding-right: 36px;
}

.tttd_padding_left_right {
  padding-left: 15px;
  padding-right: 15px;
}

.padding_lr_65 {
  padding-left: 65px;
  padding-right: 65px;
}

.padding_top_32 {
  padding-top: 32px;
}

.food_drinks_padding {
  padding-top: 12px;
  padding-left: 26px;
  padding-right: 26px;
}

.s_padding_lr {
  padding-left: 25px;
  padding-right: 25px;
}

.l_padding_top_div {
  padding-top: 70px;
}

.m_header_slash {
  margin: 0;
  padding: 0px;
  font-style: normal;
  font-weight: 300;
  font-size: 28.56px;
  line-height: 44px;  
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  font-family: "Canela-Light-Trial";
}

.author_pod {
  padding-top: 20px;
}

.btn_submit_div.text-center {
  padding-top: 65px;
}

span.slash {
  color: #1DAC68;
  margin-left: 8px;
}

.s_padding_tb {
  padding-top: 24px;
  padding-bottom: 24px;
}

.s_padding_bottom {
  padding-bottom: 15px;
}

.padd_grid_bottom {
  padding-bottom: 48px;
}

.none_padding {
  padding: 0px;
}

.none_padding_top_bottom {
  padding-top: 0px;
  padding-bottom: 0px;
}

.xl_padding_top {
  padding-top: 125px;
}

.padding_none {
  padding: 0px;
}