.top_things_left {
  padding-left: 80px;
  padding-right: 80px;
}

.inside_ttr {
  padding-top: 20px;
  padding-left: 28px;
}

.ttl_normal {
  padding-left: 80px;
  padding-right: 80px;
}

.ttl_normal_inside .custom_img_div {
  height: 300px;
}

.top_things_right {
  padding-left: 80px;
  padding-right: 80px;
  text-align: center;
  max-width: 600px;
  margin: auto;
}


span.dropdown {
  width: 18px;
  height: 8px;
  background: url(../images/dropdown.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: -2px;
  margin-left: 2px;
  cursor: pointer;
  display: inline-block;
}

.separate_line_div_tts {
  padding-bottom: 15px;
  padding-top: 35px;
}

.inside_wts {
  padding-left: 30px;
  padding-right: 30px;
}

.m_padding_tlr {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
}

.middle_cc {
  padding-left: 80px;
  padding-right: 80px;
}

.inside_col {
  padding: 30px 50px;
}

h4.h4_big {
  font-size: 20px;
  font-family: "Canela-Bold-Trial";
}

.btn_submit_div.text-left {
  text-align: left;
}