.inside_ttr {
  padding-top: 20px;
  padding-left: 28px;
}

.ttl_normal_inside .custom_img_div {
  height: 50%;
  aspect-ratio: 2;
}

span.dropdown {
  width: 18px;
  height: 8px;
  background: url(../images/dropdown.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: -2px;
  margin-left: 2px;
  cursor: pointer;
  display: inline-block;
}

.separate_line_div_tts {
  padding-bottom: 15px;
  padding-top: 35px;
}

/* .inside_wts {
  padding-left: 30px;
  padding-right: 30px;
} */

.m_padding_tlr {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
}

.inside_col {
  padding: 24px 50px;
}

h4.h4_big {
  font-family: "Canela-Medium-Trial";
  font-style: normal;
  font-weight: 500;
  font-size: 28.8px;
  line-height: 33px;
  color: #000000;
  margin-bottom: 0px;
}


.videos_section {
  padding-top: 50px;
}

p.author_pod_p.mycity {
  margin: 0px;
}