.top_things_section {
  max-width: 1800px;
  margin: auto;
  position: relative;
}

.top_things_left {
  padding-left: 80px;
  padding-right: 80px;
}

.top_things_section_inside {
  padding-left: 25px;
  padding-right: 25px;
}

.inside_ttr {
  padding-top: 20px;
  padding-left: 28px;
}

.ttl_normal {
  padding-left: 80px;
  padding-right: 80px;
}

.ttl_normal_inside .carrousel_item_small_img {
  height: 300px;
}

.top_things_right {
  padding-left: 80px;
  padding-right: 80px;
  text-align: center;
  max-width: 600px;
  margin: auto;
}

.title_tts {
  text-align: center;
  padding-left: 80px;
  padding-right: 80px;
}

.title_tts h4.header_green_h4 {
  padding-top: 20px;
  padding-bottom: 50px;
}

span.city_span {
  color: #1DAC68;
}


span.dropdown {
  width: 18px;
  height: 8px;
  background: url(../images/dropdown.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: -2px;
  margin-left: 2px;
  cursor: pointer;
  display: inline-block;
}

.separate_line_div_tts {
  padding-bottom: 15px;
  padding-top: 35px;
}

.inside_wts {
  padding-left: 30px;
  padding-right: 30px;
}

.articles_left.padd {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
}

.top_things_section_inside.pdd_iu {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 30px;
}

.middle_cc {
  padding-left: 80px;
  padding-right: 80px;
}

.title_fd.text-center {
  padding-bottom: 25px;
}

.top_things_section_inside.pdd_iu.newpadding {
  padding-top: 100px;
  padding-bottom: 25px;
}

.inside_col {
  padding: 30px 50px;
}

h4.h4_big {
  font-size: 20px;
  font-family: "Canela-Bold-Trial";
}

.btn_submit_div.text-left {
  text-align: left;
}

.inside_col.text-left button.btn_submit {
  font-size: 16px;
}

.section_top_padding {
  padding-top: 100px;
}